<div class="card-header bg-secondary" role="tab" id="collapseListGroupHeading-sc-<%= order.id %>">
  <h5 class="mb-0">
    <a href="#collapseListGroup-sc-<%= order.id %>" class="collapsed text-body d-block p-3 m-n3" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseListGroup-sc-<%= order.id %>">
      <div class="row justify-content-between">
        <h6 class="order-head">
          注文者：<%= order.user.name %>
        </h6>
      </div>
    </a>
  </h5>
</div>
