<% per_order.each do |date_food_relation| %>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="row">
        <h6 class="col-sm-4">
          <%= date_food_relation.chinese_name %>
        </h6>
        <h6 class="col-sm-6">
          <%= date_food_relation.english_name %>
        </h6>
        <h6 class="col-sm-2">
          <%= date_food_relation.alacarte_price %>円
        </h6>
      </div>
    </li>
  </ul>
<% end %>
