<div class="collapse" role="tabpanel" id="collapseListGroup-sc-<%= order.id %>" aria-labelledby="collapseListGroupHeading-sc-<%= order.id %>" aria-expanded="false">
  <%= render 'shop_clerks/shared/order_each_content_food', per_order: per_order %>
  <%= render 'shop_clerks/shared/order_each_content_price', per_order: per_order %>
</div>
