<% @orders.zip(@ordered_foods_history) do |order, per_order| %>
  <div class="show-order-<%= order.id %>">
    <div class="card my-3">
      <%= render 'shop_clerks/shared/order_each_header', { order: order, per_order: per_order } %>
      <%= render 'shop_clerks/shared/order_each_content', { order: order, per_order: per_order } %>
    </div>
  </div>
<% end %>
