<div class="card-footer <%= "bg-secondary order-fixed" unless Date.today < per_order.first.date %>">
  <div class="row">
    <div class="row col-sm-10 col-9">
      <h6 class="col-sm-4">
        配送日：<%= per_order.first.date %>
      </h6>
      <h6 class="col-sm-2 offset-sm-6">
        合計<%= total_price(per_order) %>円
      </h6>
    </div>
  </div>
</div>
