<section class="py-5 bg-light">
  <div class="container">
    <div class="order-history">
      <h1 class="main-topic">注文履歴</h1>
      <%= render 'orders/shared/order_collection', { orders: @orders, ordered_foods_history: @ordered_foods_history } %>
    </div>
  </div>
</section>
