<div>
  <div class="container">
    <p>&copy; 2020 Copyright EnergyFood</p>
  </div>
  <div class="container-fluid bg-warning">
    <p>
      <strong>DISCLAIMER:</strong>
      当コンテンツはポートフォリオサイトです。登場する料理名等は架空であり、実在のものとは関係ありません。ウェブデザインについては、東南アジアでメジャーな配車サービスである<a href="https://www.grab.com/sg/">Grab</a>を参考にしていることも合わせて紹介させて頂きます。
    </p>
  </div>
</div>
