<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    ユーザーメニュー
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <%= link_to 'アカウント編集', edit_user_registration_path, class: 'dropdown-item' %>
    <%= link_to '注文履歴', current_user, class: 'dropdown-item' %>
  </div>
</li>
<li class="nav-item">
  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link' %>
</li>
