<body id="page-top">
  <header class="masthead">
    <div class ="section-body">
      <h1 class="text-white font-weight-bold">EnergyFood</h1>
      <p>Wonderful meal experience here.</p>
      <%= link_to "REGISTER NOW", new_user_registration_path, class: 'btn btn-lg btn-success' %>
    </div>
  </header>
</body>
