<body id="page-top">
  <header class="masthead">
    <div class ="section-body">
      <h1 class="text-white font-weight-bold">EnergyFood</h1>
      <p>Wonderful meal experience here.</p>
      <a class="btn btn-lg btn-success" href="#about">ORDER NOW</a>
    </div>
  </header>
</body>
