<span>
  <h6>
    <%= date_food_relation.chinese_name %>
    <% if date_food_relation.food.likes_count > 0 %>
      <i class="fas fa-star star-orange"><%= date_food_relation.food.likes_count %></i>
    <% end %>
  </h6>
    <h6><%= date_food_relation.english_name %></h6>
    <i class="alacarte_price"><%= date_food_relation.alacarte_price %></i>円
</span>
