<div class="collapse" role="tabpanel" id="collapseListGroup-<%= order.id %>" aria-labelledby="collapseListGroupHeading-<%= order.id %>" aria-expanded="false">
  <%= render 'shared/order_each_content_food', per_order: per_order %>
  <%= render 'shared/order_each_content_price', per_order: per_order %>
</div>
