<div class="order-summary card text-center">
  <div class="display-total-price">
    <h2>合計<span class="mgr-10" id="calculate-total-price">0</span>円</h2>
  </div>
  <div class="submit-button py-3">
    <%= submit_tag "注文を確定", class: 'btn btn-success btn-block' %>
  </div>
</div>
