<section>
  <div class="container py-5">
    <header>
      <h2 class="text-center intro-header text-success font-weight-bold py-3">お昼 なに食べようかな</h2>
    </header>
    <p class="text-center margin-lg py-3">
      屋台飯の人気メニューをオフィスまでお届けする「EnergyFoodオフィスでレストラン」がオープンしました。われわれは、AAAAA社のBBBBBオフィスで働くみなさまにヘルシーで温かいランチをお届けします。<br><br>
      外で食べるのは時間がかかるけど、お弁当を毎朝準備するのも大変。そんなときは、ネットで簡単に注文ができる「EnergyFoodオフィスでレストラン」をぜひご利用ください。メニューは全て日替わりで80種類以上！毎日のランチをより充実し楽しい時間へ変えてみませんか？
    </p>
  </div>
</section>
