<div class="container mb-5 px-5">
  <div class="row" id="food-scroll" >
    <a class="col-md-2 col-sm-4 col-6 food-link btn btn-outline-secondary" href="#Chicken">Chicken</a>
    <a class="col-md-2 col-sm-4 col-6 btn btn-outline-secondary" href="#Pork">Pork</a>
    <a class="col-md-2 col-sm-4 col-6 btn btn-outline-secondary" href="#Fish">Fish</a>
    <a class="col-md-2 col-sm-4 col-6 btn btn-outline-secondary" href="#Tofu-Egg">Tofu-Egg</a>
    <a class="col-md-2 col-sm-4 col-6 btn btn-outline-secondary" href="#Vegetables">Vegetables</a>
    <a class="col-md-2 col-sm-4 col-6 btn btn-outline-secondary" href="#SpecialItems">Special Items</a>
  </div>
</div>
