<div class="container mb-5">
  <div class="row" id="food-scroll" >
    <a class="col-sm-4 col-md-2 food-link" href="#Chicken">Chicken</a>
    <a class="col-sm-4 col-md-2" href="#Pork">Pork</a>
    <a class="col-sm-4 col-md-2" href="#Fish">Fish</a>
    <a class="col-sm-4 col-md-2" href="#Tofu-Egg">Tofu-Egg</a>
    <a class="col-sm-4 col-md-2" href="#Vegetables">Vegetables</a>
    <a class="col-sm-4 col-md-2" href="#SpecialItems">Special Items</a>
  </div>
</div>
