@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

// General
body {
  padding-top: 70px;
}

// Typography
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

.main-topic {
  text-align: center;
}

h2, h3 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: #777;
  font-family: 'arial black';
}
.food-category > a {
    display: block; padding-top: 70px; margin-top: -70px;
}

// Partial
// tomorrow_menu_list.html.erb, order_update.html.erb
#food-scroll > a {
  color: black;
}

.submit-button {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

.order-summary .submit-button {
  @extend .container-fluid;
  padding: 2rem;
  display: inline-block;
}

.order-summary {
  position: fixed;
  bottom: 0;
  right: 0;
}

.mgr-10 {
  margin-right: 10px;
}
// effect on checkbox
label input[type="checkbox"] {
    display: none;
}

label span {
    display: inline-block;
    position: relative;
    padding: 15px 15px 15px 35px;
    border-radius: 4px;
    background-color: #eee;
    cursor: pointer;
    color: #515151;
}

label span::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    left: 10px;
    display: block;
    background: #fff;
    border-radius: 4px;
}

label span::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 10px;
    left: 15px;
    top: calc(50% - 8px);
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    transform: rotate(45deg);
    display: block;
    opacity: 0;
}

label span:hover {
    background-color: #00FF00;
    cursor: pointer;
}
label span:hover::before {
}
label span:hover::after {
}

label input[type="checkbox"]:checked + span {
    background-color: #00FF00;
}
label input[type="checkbox"]:checked + span::before {
    background-color: #ed6103;
}
label input[type="checkbox"]:checked + span::after {
    opacity: 1;
}

// order-history.html.erb
.order-head {
  color: #FFF;
  font-family: 'arial black';
}

.order-fixed {
  color: #FFF;
}

// Login page
.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

// _like.html.erb
.star-white {
  color: white
}

.star-black {
  color: black
}
.star-orange {
  color: #fecb81
}

// Flash messages
.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

header.masthead {
	min-height: 500px;
	background: #f7f7f7 url(lp2.jpg) center top/cover no-repeat;
  background-repeat: no-repeat;
  background-image: image-url('lp_1.jpg');

  .section-body {
    position: absolute;
    top: 250px;
    left: 100px;
    h1 {
      letter-spacing: 1px;
    }
    p {
      color: #FFF;
      font-family: sans-serif;
      letter-spacing: 1px;
    }
  }
}
